/Write/Classes/Credentials.h
/Write.xcodeproj/project.xcworkspace/xcuserdata/davidhbrunow.xcuserdatad/UserInterfaceState.xcuserstate
/Write.xcodeproj/xcuserdata/davidhbrunow.xcuserdatad/xcdebugger/
/Write.xcodeproj/project.pbxproj
Write/Classes/Credentials.h
